@import "tailwindcss";
@plugin "daisyui";






/* 4. Fresh & Minimal (Green-Based)
Ideal for eco-friendly, clean UIs.

Primary: #10B981 (Emerald)

Secondary: #6EE7B7 (Mint)

Accent: #A7F3D0 (Soft Green)

Background: #F0FDF4 (Light Green)

Text: #064E3B (Dark Green) */

/* common section */

.primary_text_color {
    @apply text-[#10B981]
}

.primary_bg_color {
    @apply bg-[#10B981]
}

.log_in_form_bg {
    @apply bg-[#ff006fd2]
}


.primary_btn{
    @apply bg-[#10B981] text-white font-semibold px-5 py-1.5 capitalize text-base rounded-md  cursor-pointer
}

.disabled_button{
  @apply  btn font-semibold px-5 py-1.5 capitalize text-base rounded-md  cursor-pointer
}



.secondary_btn{
    @apply bg-white text-black font-semibold px-5 py-2 capitalize text-base rounded-md border border-[#10B981]  hover:bg-[#10B981] hover:text-white transition-all cursor-pointer
}


.action_btn{
  @apply bg-[#10B981] text-white font-semibold px-4 py-1  text-lg rounded-md cursor-pointer

}

.common_padding {
  @apply px-4 sm:px-6 md:px-16 2xl:px-22 py-3
}




/*  */

.form_error {
    @apply text-base capitalize mb-2 text-red-700 
}


.form_section input {
    @apply border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#10B981] mb-4 mt-2 
}






/* navbar  */
.nav_link a {
  position: relative;
  display: inline-block;
  background-color: transparent;
  padding: 3px 12px;
  font-weight: 600;
  text-transform: capitalize;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}



 .nav_link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #10B981;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

 .nav_link a:hover::after {
  transform: scaleX(1);
}

 .nav_link a.active {
  color: #10B981;
}

 .nav_link a.active::after {
  transform: scaleX(1);
}


/* banner section */

.banner_content {
   background-size:  cover;
   background-position:  center;
   background-repeat:  no-repeat;
   background-blend-mode:  multiply;
}


/* swiper slider */

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

/* body {
  background: #000;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
